<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title></title>
      <link rel='stylesheet' href='/stylesheets/userstyle.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-0b12LiiKvOWTUO9oGBaXFsrtS0EGGJRqOk9ksO9WZPiFEwy5GehJ3V1zzfejk5K6aaVJT0rrIya1ZxEjHejj9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
      <header class="header">
        <div class="logo">
          <a href="/">Home</a>
          <a href="/login">Login </a>
          <a href="/products">Products</a>        
        </div>
    
        <div class="header-icons">
          <i class="fas fa-bell"></i>
          <div class="account">
            <img src="./pic/img.jpg" alt="">
            <h4><%= username %></h4>
             <a style="display: flex;" href="/logout">Logout</a>
          </div>
        </div>
      </header>
      <div class="container">
        <nav>
          <div class="side_navbar">
            <span>Main Menu</span>
            <a href="#" class="active">Dashboard</a>
            <a href="/profile">Profile</a>
            <a href="/shopmanager/shipment">Shipment</a>
            <a href="/shopmanager/productquantity">Update Products</a>
            <a href="/shopmanager/request">Request For Product</a>
            <a href="/shopmanager/sales">Sales</a>
          </div>
        </nav>
    
        <div class="main-body">
          <h2>Dashboard</h2>
          <div class="history_lists">
            <div class="list1">
              <div class="row">
                <h4>Products Sales From </h4>
                <form action="/shopmanager" method="post">
                  <input type="date" name="from" id="from">
                  <h4> To </h4>
                  <input type="date" name="to" id="to">
                <button class="btn" type="submit">Search</button>
                </form>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>Product id</th>
                    <th>Name</th>
                    <th>catagory</th>
                    <th>totalSales</th>
                  </tr>
                </thead>
                    <tbody>
                        <% for (var i = 0; i < products.length ;i++) { %>
                         <tr>
                           <td><%= products[i].id %></td>
                           <td><%= products[i].name %></td>
                           <td><%= products[i].catagory %></td>
                            <td><%= products[i].totalSales %></td>
                            <td><%=products[i].catagory%></td>
                         </tr> <% }%>
                    </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
    </span>